.user {
    display: flex;
    gap: 80px;
    min-height: 330px;
    margin-bottom: 400px;

}

.user .user__select {
    width: 20%;

}

.user .user__select-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.user__select-list-item {
    position: relative;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    align-items: center;
    transition: right linear .1s;
}

.user__select-list-item:hover {
    right: -8px;
    cursor: pointer;

}

.user__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user__content-heading {
    margin-bottom: 32px;

}

.user__content-body {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.user__content-body-item {
    display: flex;
    gap: 10px;
    align-items: center;

}

.content__body-item-input {
    margin-left: auto;
    padding: 4px;
    width: 300px;

}

.user__content-body-sex {
    display: flex;
    justify-content: space-between;

}

.user__content-body-sex-select {
    display: flex;
    gap: 20px;

    
}

.content__body-sex-input {
    margin-left: 8px;
}


.user__content-body-update {
    width: 40%;
    text-align: end;
    margin-top: auto;

}

.user__content-body-update-btn {
    padding: 8px 16px;
    border-radius: 2px;
    background-color: var(--primary-color);
    color: var(--white-color);

}

.user__content-body-update-btn:hover {
    background-color: var(--black-color);
    color: var(--white-color);

}