.navbar__customer {
    padding-top: 24px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: var(--white-color);
}

.navbar__wrap {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar__logo {
    height: 60px;
    cursor: pointer;
}

.navbar__menu {
    /* gap: 20px; */
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.navbar__menu > li > a {
    padding: 16px;
    font-size: 14px;
}

.navbar__menu > li > a:hover {
    color: var(--primary-color);
}

.navbav__right {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.navbav__right-search {
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 4px 16px;
}

.search__input {
    outline: none;
    border: none;
    padding-right: 8px;
}

.search__history {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 0 3px #b9b9b9;
    border-radius: 2px;
    overflow: hidden;
    display: none;
    font-size: 14px;
    z-index: 1;
}

.search__history-heading {
    color: #999;
    margin-bottom: 12px;
    font-weight: 500;
    margin: 8px;
}

.search__history-item {
    padding: 12px;
}

.search__history-item:hover {
    background-color: #ccc;
}

.search__input:focus ~ .search__history {
    display: block;
}

.search__icon {
    padding: 4px;
}

.search__icon:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.navbav__right-cart:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.navbav__right-cart {
    position: relative;
    padding: 22px;
    margin: 0px 16px;
}

.navbav__right-cart:hover > span {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.cart__icon {
}

.cart__number-product {
    position: absolute;
    background-color: var(--black-color);
    border-radius: 10px;
    padding: 0px 7px;
    color: var(--white-color);
    top: 12px;
    right: 10px;
    font-size: 12px;
    border: 1px solid var(--white-color);
}

.navbav__right-user {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbav__right-user:hover > .user__select {
    display: block;
}

.user__img {
    border: 1px solid var(--primary-color);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: cover;
}

.user__name {
    margin-left: 8px;
    text-transform: capitalize;
}

.navbar__menu .navbar__active {
    border-bottom: 2px solid var(--primary-color);
}

.navbar__active {
    display: block;
}

.navbav__right-user .user__select {
    display: none;
    position: absolute;
    box-shadow: 0 0 20px #ccc;
    border-radius: 2px;
    padding: 8px;
    width: 200px;
    z-index: 1;
    background-color: var(--white-color);
    left: -76px;
    top: 40px;
}

.user__select::before {
    content: '';
    display: block;
    position: absolute;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 36px;
}

.user__select::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 12px;
    top: -10px;
    background-color: transparent;
   
  }
  

.user__select-item {
    list-style: none;
    padding: 8px;
    font-size: 14px;
}

.user__select-item:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.navbav__right-user-not-active {
    display: none;
}
